body {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#header {
    display: flex;
    min-height: 135px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

#header-left {
    display: flex;
    justify-content: center;
    align-items: left;
}

#header-left>img {
    padding-top: 20px;
    width: 300px;

}

#nav-div {
    min-width: 33vw;
}

#nav-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    list-style-type: none;
}

.nav-item {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

.nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: goldenrod;
}

.hero-text {
    font-size: 48px;
}

.location-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    flex-direction: column;
}

.address-div,
.contacts-div,
.reservations-div {
    font-size: 20px;
}

address,
.contact {
    font-style: normal;
}

address>a,
.contact>a {
    text-underline-offset: 5px;
    line-height: 1.5;
    color: rgb(177, 129, 7);
}

.hours-div {
    font-size: 18px;
    margin-top: 20px;

}

.hours-div>ul {
    list-style: none;
    padding-right: 30px;
}

.hours-div>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#preview-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#preview-div>img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: auto;
    max-height: 500px;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}

.contact-page,
.about-page,
.menu-page {
    flex-direction: column;
}

#intro-para {
    max-width: 90%;
    font-size: 24px;
    font-weight: bold;
    color: rgb(170, 123, 5);
}

.bio-div {
    display: flex;
}

.bio-text-div {
    max-width: 50%;
    font-size: 20px;
}

.reservations-div>hr {
    height: 3px;
    margin-top: 40px;
}

.contact-header {
    margin-bottom: 0px;
}

.header-text {
    font-size: 36px;
}

.img-credit {
    font-size: 12px;
    margin-top: 5px;
}

.bio-img {
    width: auto;
    height: 550px;
}

.img-credit>a {
    font-size: 13px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.about-page>hr {
    height: 3px;
    margin-top: 40px;
    width: 90%;
}

/* Menu page */
.menu-page {
    display: flex;
    flex-direction: column;
}

.menu-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-select-options{
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 1.35rem;
    font-weight: bold;
    padding: 10px;
    width: 175px;
    margin-bottom: 45px;
}

select{
    cursor:pointer;
}

.menu-item {
    display: flex;
    justify-content: left;
    text-align: left;

}

.menu-item-img-div {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 10px;

}

.menu-item-text-div {
    display: flex;
    align-items: baseline;
}

.menu-item-img {
    max-width: 275px;
    height: auto;
}

.menu-item-text-description {
    max-width: 600px;
    font-size: 20px;
}

.menu-item-text-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}

/* Sticky Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 75px;
    font-weight: bold;
}

#github-logo {
    padding-left: 8px;
    padding-right: 8px;
}

#github-logo>img {
    height: 20px;
    width: 20px;
}